.entryContainer{
    display:flex;
    justify-content:center;
}

textarea {
    border:solid #878787 1px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    height: 150px;
    line-height: 2.125rem;
    padding: 0;
    width: 40rem;
    color: #5f5e5e;
    background: linear-gradient(to top, #c9c9c9 0%, #fff 3%) repeat scroll 0 30px/100% 33px;
    outline:none;
    margin:1rem;
    resize: none;
}

.entryOptions{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .editBtn {
        color: #fff;
        border: 0;
        font-size: 18px;
        outline: none;
        padding: 0.1em 0.556em;
        background: #ace;
        border-radius: 0.22em;
        text-shadow: 0 -0.056em 0 rgba(0,0,0,.3);
        box-shadow: 0 0.22em 0 #9cb8d8, 0 0.167em 1.11em ;
        cursor: pointer;
        margin: 1rem 1rem 1rem 0;
      }
      
      .editBtn:active {
        text-shadow: 0 -0.056em 0 rgba(0,0,0,.1);
        box-shadow: 0 0 0.556em rgba(0, 0, 0, 0.5) inset;
        position: relative;
        top: 0.167em;
      }

      .delBtn {
        color: #fff;
        border: 0;
        font-size: 18px;
        outline: none;
        padding: 0.1em 0.556em;
        background: rgb(240, 72, 72);
        border-radius: 0.22em;
        text-shadow: 0 -0.056em 0 rgba(0,0,0,.3);
        box-shadow: 0 0.22em 0 #d11313, 0 0.167em 1.11em;
        cursor: pointer;
        margin: 1rem 1rem 1rem 0;
      }
      
      .delBtn:active {
        text-shadow: 0 -0.056em 0 rgba(0,0,0,.1);
        box-shadow: 0 0 0.556em rgba(0, 0, 0, 0.5) inset;
        position: relative;
        top: 0.167em;
      }